

/* --------------------------------------
   반응형 웹: 태블릿 (최대 1024px)
---------------------------------------- *
/*  */

@media screen and (max-width: 1024px) {

    header {
      height: auto;
      padding: 20px 40px;
      flex-direction: column;
    }
  
    .menu {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  
    .text h1 {
      font-size: 36px;
      line-height: 1.4;
    }
  
    .button {
      gap: 40px;
      padding: 0 20px;
    }
  
    .card-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 90%;
      margin-top: 32px !important;
    }
  
    #section4 .column {
      flex-direction: column;
      text-align: center;
      gap: 30px;
    }
  
    #section4 .text,
    #section4 .column img {
      width: 100%;
    }
  
    #section5 .swiper {
      width: 100%;
      padding: 0 20px;
    }
  
    .swiper-slide {
      width: 90% !important;
      padding: 60px 40px;
    }
  
    #section6 h3 {
      font-size: 24px;
      line-height: 40px;
    }
  
    #section7 .container {
      flex-direction: column;
      align-items: center;
    }
  
    .info-box,
    .form-box {
      margin: 10px 0;
      width: 100%;
    }
  }