@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: #ff8000; */
    font-size: 16px;
    font-weight: 500;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: rgba(255, 247, 235, 0.2);
}

.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

/* 공통 버튼 스타일 */
.btn {
    background-color: #FF6B00;
    color: white;
    padding: 14px 36px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px 0px rgb(89, 84, 75, 0.8);
}

.gnb li a:focus,
.gnb li a:active {
  outline: none;
  border: none;
}

.btn:hover {
    background-color: #e05a00;
}
* {
    -webkit-tap-highlight-color: transparent;
  }

  .hamburger {
    -webkit-tap-highlight-color: transparent;
    outline: none; /* 포커스 테두리 제거 */
  }

  .hamburger:focus,
.hamburger:active {
  outline: none;
  box-shadow: none;
}

